/********** Variables **********/
$font-default: 'Ariel', sans-serif;
$font-thin: 'Poppins_Thin', $font-default;
$font-regular: 'Poppins', $font-default;
$white : #EBEBEB;
$black : #000000;
$background: #0C0C0F;
$red : #EB0000;
$darkgrey : #1B1D1F;
$mediumgrey : #6F7171;
$lightgrey : #8D8D8D;
$blue : #0096E4;
$green : #00AC3E;
$orange : #EB7006;
$yellow : #EBBC3D;
$black95a : rgba(0, 0, 0, 0.95);
$black75a : rgba(0, 0, 0, 0.75);
$black50a : rgba(0, 0, 0, 0.50);
$black30a : rgba(0, 0, 0, 0.30);
// $ : ;